/* 

    CSS Guide

    1. Web Fonts
    2. General Styles
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer
    9. Rooms Page

*/

/* 1. --- Web Fonts --- */

@font-face {
    font-family: 'ceragr-regularuploaded_file';
    src: url('../fonts/cera-gr-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-mediumuploaded_file';
    src: url('../fonts/cera-gr-medium-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. ---General Styles--- */

/* outline sits outside the border, but it does not take up space. It’s more like a visual effect painted around the element. */
#mobile-outline {
   outline: 20px solid #333;
   width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #626262;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 14px;
}

.cr-red {
    color: #9a2018;
}

/* 3. ---Header--- */

#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }

#burger-con, #main-nav input {
    display: none;
}

/* The general sibling combinator ~ means: “Select any element that is a sibling (shares the same parent) and comes after the target element in the DOM.” */

/* When the checkbox is checked, target the <ul id="burger-con"> that comes after it in the markup. */
 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 /* When the checkbox is checked, target the <img> inside the <label> that comes after it. */
 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }

/* 4. ---Main Hero Image--- */

#main-hero {
    margin-top: 20px;
}

.hero-overlap {
   grid-row: 1/1;
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 1s ease;
    cursor: pointer;
    grid-row: 1/2;
    height: 67px;
 }

 .book-now:hover {
    box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
 }

 .hero-img-h2 {
    background: rgb(255, 255, 255);
    padding: 15px 15px;
    font-size: 14px;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
 }
 
 .hero-img-h2 span {
    color: #9a2018;
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 20px;
 }

 #hero-welcome {
    font-size: 14px;
    line-height: 22px;
 }

  #hero-welcome p:first-of-type {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 20px;
 } 

 #hero-contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
 }

 #contact-con div {
   display: flex;
   justify-content: center;
 }

 .fas {
    font-size: 50px;
    color: #9a2018;
    /* margin: 0 auto; */
    /* float: left; */
 }
 
 .fa-mobile-alt {
    /* margin-left: 50px; */
    margin-right: 13px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    /* margin-left: 47px; */
    margin-right: 10px;
 }
 

/* 5. --- Why Couples Resort--- */

#why-choose-us-nav {
    padding-top: 20px;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }

/* first-of-type will match the first occurrence of a specified element, even if it doesn’t come absolutely first in the HTML. */
#why-options section:first-of-type  {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
}

.why-us-img {
    font-size: 12px;
}

.why-us-img img {
    float: left;
    margin-right: 10px;
}

.why-us-img h4 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.why-us-img a {
    color: inherit;
}

#why-choose-us-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
    
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
    text-decoration: underline;
 }

 /* 6. ---About & FAQ --- */

#about-text-group1 {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
}

.faq {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }
 
 .faq h2 {
    font-size: 24px;
    border-bottom: solid 3px #CF6666;
    margin-bottom: 50px;
    padding-bottom: 40px;
 }
 
 .faq h2 span {
    color: #9a2018;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
 }
 
 .faq-items h3 {
    background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 .faq-list-con {
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
/* 7. ---Contact Form--- */

#contact-form-text p {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 40px;
    line-height: 22px;
    font-size: 16px;
 }
 #contact-form-adress-left h3 {
    font-size: 22px;
    margin-bottom: 30px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #contact-form-adress-left p {
    line-height: 24px;
 }

 #contact-form-fields-right form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-form-fields-right input, textarea {
    padding: 14px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
 }
 
 #contact-form-fields-right textarea {
    height: 250px;
 }
 
 #contact-form-fields-right input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }

 #contact-form-fields-right input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }

/* .8 --- Footer --- */

#main-footer {
    background-image: url(../images/cr-footer-mob.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }

 #main-footer-contact-info h3 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #main-footer-contact-info p {
    line-height: 22px;
 }

 #main-footer nav {
    display: none;
 }

 #price-policy {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 30px;
    line-height: 22px;
 }

 /* 9. --- Rooms Page --- */

 /* adds line */
 #hero-room h2:first-of-type {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 20px;
 } 

 #hero-room h2 {
   margin-bottom: 20px;
 }

 #hero-room ul {
   padding-left: 20px;
 }

.welcome-p p:first-of-type{
   border-top: solid 3px #CF6666;
   margin-top:20px;
   padding-top:15px;
}

#all-rooms {
   background-color: #f1f1f1;
   padding-top:20px;
   padding-bottom: 20px;
   line-height: 35px;
   margin-bottom:20px;
}

#all-rooms ul li {
   border-top: 1px solid #9a2018;
}

#all-rooms ul li:first-of-type {
   border-top: none;
}

.learn-more {
   text-align: center;
   background-color: #9a2018;
   padding-top: 10px;
   padding-bottom: 10px;
}

.learn-more a {
   text-decoration: none;
   color: white;
}

.room-info {
   margin-top: 20px;
}

.room-info p, .room-info h3 {
   padding: 10px;
}

#important-info {
   background-color: #f1f1f1;
   padding:20px;
   margin-top:40px;
}

#spa-info p, #spa-info h3 {
   padding-left: 10px;
   padding-right:10px;
}

#spa-info h3 {
   padding-bottom: 15px;
   padding-top:20px;
}

.prices {
   font-style: italic;
}

.treatment-info {
   background-color: #f1f1f1;
   padding:10px;
   margin-top:0px
}

#treatments {
   margin-top: 20px;
}

.info {
   margin-top:15px;
}

#special-packages {
   background-color: #f1f1f1;
   margin-top: 20px;
   padding-bottom: 40px;
   padding-top:15px;
}

#special-packages img {
   text-align: center;
}

.package {
   position: relative;
   text-align: center;
   color: white;
}

.pckg-title{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: normal;
}

/* spa packages */

#divine:hover{
   filter:brightness(30%);
   transition: all .5s ease-in-out;
}

/* .pckg-hover-content{
   position:absolute;
   bottom:50px;
   padding:20px;
   text-align: justify;
   line-height:50px;
} */

/* #divine2 img{
   filter:brightness(30%);
}

#heaven2 img{
   filter:brightness(30%);
} */

.testimonial {
   line-height: 25px;
   padding-top:10px;
   padding-bottom:10px;
   margin-top:20px;
}

.testimonial img {
   padding-top:10px;
   padding-bottom: 10px;
}

#unforseen {
   background-color: #f1f1f1;
   padding-top: 15px;
   line-height: 25px;
}

#unforseen h3 {
   padding-bottom:15px;
}

#spa-accom {
   margin-top:30px;
   line-height: 25px;
}

/* spa desktop */

#desk-nav ul{
   display:flex;
   padding-top:30px;
   justify-content: center;
   align-items: center;
}

#desk-nav ul li {
   padding-right:45px;
   list-style-type: none;
   height: 60px;
}

#cr-logo-desk {
   padding-top: 30px;
}

/* desk book now header */
#desk-book-now {
   background-color: #9a2018;
   text-align: center;
   transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 1s ease;
    cursor: pointer;
}

#desk-book-now:hover{
   box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
}

#desk-book-now a {
   color: white;
}

#desk-welcome {
   margin-top: 40px;
}

#desk-welcome p {
   border-top:#CF6666 3px solid;
   padding-top: 15px;
   margin-bottom: 40px;
}

#desk-services-h{
   background: rgb(255, 255, 255);
    padding: 20px 20px;
    font-size: 20px;
    grid-column: 7/12;
    /* grid-row: 2/3; */
    align-self: end;
}

#desk-hero-h {
   background: rgb(255, 255, 255);
    padding: 20px 20px;
    font-size: 20px;
    grid-column: 2/7;
    /* grid-row: 2/3; */
    align-self: end;
}

#desk-hero-h span {
   font-size: 14px;
   color:#9a2018;
}

#desk-spa-info {
   margin-top: 40px;
}

#desk-spa-info h3 {
   border-top:#CF6666 3px solid;
   padding-top:30px;
   padding-bottom: 30px;
}

.treatment-info-desk{
   background-color: white;
   /* padding:10px; */
   margin-top: 15px;
}

#desk-footer{
   background-image: url(../images/cr-footer-desk.jpg);
   color:white;
}

#footer-nav ul{
   list-style-type: none;
}

#footer-nav a {
   color:white;
}

#footer-nav {
   padding-top:30px;
   line-height: 25px;
}

#book-now-desk {
   background-color: #9a2018;
   color:white;
   transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 1s ease;
    cursor: pointer;
    height:100px;
    margin-top:50px;
}

#book-now-desk:hover {
   box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
}

#desk-special-packages {
   background-color: #f1f1f1;
   margin-top:80px;
   padding:20px 20px;
}

#desk-special-packages img {
   padding-bottom: 23px;
}

#eminence-desk p{
   line-height: 40px;
}

#eminence-desk {
   margin-bottom:20px;
   margin-top:40px;
}

#qa-desk p{
   line-height: 40px;
}

#qa-desk{
   margin-bottom:40px;
}

#info-divider-desk{
   border-top:#CF6666 3px solid;
}

#unforseen-desk{
   background-color: #f1f1f1;
   margin-top:40px;
   margin-bottom:40px;
   padding:40px 20px;
   line-height:40px;
}

#enjoy-desk {
   line-height: 40px;
   margin-top: 40px;
   margin-bottom:40px;
}